<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress/Gaestezimmer/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/Gaestezimmer/index.php [L]
</IfModule>
